<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::section})}"><head>
<meta charset="utf-8">
<title>Usuarios</title>
</head>
<body>
<section>
	<div class="container">
		<h1>Accesos</h1>
		<br>
<form th:action="@{/admin/accesos}" method="get" class="row g-2 mb-3 align-items-end">

    <div class="col-auto">
        <label for="fechaIni" class="form-label mb-0" th:text="#{comun.fini}">Fecha Inicial</label>
        <input type="date"
               id="fechaIni"
               name="fechaIni"
               class="form-control"
               th:value="${fechaIni != null ? #temporals.format(fechaIni, 'yyyy-MM-dd') : ''}">
    </div>

    <div class="col-auto">
        <label for="fechaFin" class="form-label mb-0" th:text="#{comun.fFin}">Fecha Final</label>
        <input type="date"
               id="fechaFin"
               name="fechaFin"
               class="form-control"
               th:value="${fechaFin != null ? #temporals.format(fechaFin, 'yyyy-MM-dd') : ''}">
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary" th:text="#{command.buscar}">
            Buscar
        </button>
    </div>

</form>


		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th th:text="#{usuario.email}">default</th>
					<th th:text="#{acceso.mensaje}">default</th>
					<th th:text="#{acceso.fecha}">default</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="acceso : ${paginacion.contenido}">
					<td th:text="${acceso.nombreUsuario}">ID</td>
					<td th:text="${acceso.mensaje}">ID</td>
					<td th:text="${#temporals.format(acceso.fechaAudit, 'dd/MM/yyyy HH:mm:ss')}"></span>
					
				</tr>
			</tbody>
		</table>
		
     <div th:replace="~{fragments/paginacionComun :: paginador(${paginacion}, ${query})}"></div>
		
	</div>
</section>
</body>
</html>
