<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::section})}"><head>
<meta charset="utf-8">
<title th:text="#{areatematica.lista}">Título</title>
</head>
<body>
<section>
	<div class="container">
		<h1 th:text="#{areatematica.lista}">Título</h1>
		<br>
		<div class="form-group">
		    <div  th:replace="~{fragments/botones :: btnLink(
		        #{mensaje.nueva} + ' ' + #{areatematica.title},
		        @{${urlAlta}},
		        'btn-success', 'bi bi-plus-circle'
		    )}">
		    </div>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th th:text="#{areatematica.title}">default</th>
					<th th:text="#{areatematica.descripcion}">default</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tema : ${paginacion.contenido}">
					<td th:text="${tema.titulo}">ID</td>
					<td th:text="${tema.descripcion}">ID</td>
					<td><a th:href="@{|${paginacion.url}/${tema.id}|}" class="btn btn-primary" ><i class="bi bi-pencil-square"></i></a></td>
				</tr>
			</tbody>
		</table>
        <div th:replace="~{fragments/paginacionComun :: paginador(${paginacion}, ${query})}"></div>
	</div>
</section>
</body>
</html>
