<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{plantilla::layout(~{::content})}">
<head>
  <title>titulo</title>
</head>
<body>
  <section th:fragment="content">
    <div class="container">
       <h1 th:text="#{home.administrador.title}"></h1>
    </div>   
    <div class="album py-5 bg-body-tertiary"> 
	    <div class="container"> 
		    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-people', '/admin/usuario', 'panel.usuarios',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-mortarboard', '/estudiante', 'panel.estudiantes',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-bar-chart-line', '/admin/accesos', 'panel.estadisticas',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-bookmark', '/admin/areaTematica', 'panel.areas',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-person-check', '/admin/usuarioconnected', 'panel.conectados',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-collection', '/admin/curso', 'panel.cursos',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-list-columns-reverse', '/modulo', 'panel.modulos',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-people-fill', '/admin/rol', 'panel.roles',false)}"></div>
		        <div class="col" th:insert="~{fragments/opcionesPanel :: opcionesPanel('bi-file-earmark-arrow-up', '/admin/ficheros', 'panel.admdisco',false)}"></div>
		    </div>    
	    </div>
    </div>
  </section>
</body>
</html>