<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{plantilla::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>body>
<section>
<h1 th:text="#{usuario.cambiopassword}">Título</h1>

<h2 th:if="${passwordDTO.userName != null}" th:text="#{usuario.title} + ': ' + ${passwordDTO.userName}"></h2>
<div th:replace="~{fragments/mensajesresultado :: mensajes}"></div>
<form th:action="@{{url}/{id}/password(url=${url},id=${userId})}" th:object="${passwordDTO}" method="post">
  <datosFormulario th:replace="~{fragments/frmChangePass :: frmChangePass}"></datosFormulario>
  <div th:replace="~{fragments/botones :: btnGroup(#{command.save}, #{command.cancel}, @{${urlCancel}})}"></div>
</form>
</section>
</body>
</html>