<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::section})}"><head>
<meta charset="utf-8">
<title th:text="#{usuario.lista}">Título</title>
</head>
<body>
<section>
	<div class="container">
		<h1 th:text="#{usuario.lista}">Título</h1>
		<br>
		<div class="form-group">
		    <div class="mb-3" th:replace="~{fragments/boton-enlace :: btnLink(
		        #{mensaje.nuevo} + ' ' + #{usuario.title},
		        @{${urlAlta}},
		        'btn btn-success'
		    )}">
		    </div>
		</div>



		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th th:text="#{usuario.email}">default</th>
					<th th:text="#{usuario.nombre}">default</th>
					<th th:text="#{usuario.role}">default</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.email}">ID</td>
					<td th:text="${usuario.nombreCompleto}">ID</td>
					<td th:text="${usuario.rol}">ID</td>
					<td><a th:href="@{/admin/usuario/{id}(id=${usuario.id})}" class="btn btn-primary" th:text="#{command.modificar}">traduciones</a></td>
				</tr>
			</tbody>
		</table>
		<th:block th:if="${paginacion}">
		<nav th:replace="~{fragments/paginaciontabla :: paginaciontabla}"></nav>
		</th:block>
	</div>
</section>
</body>
</html>
