<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::section})}"><head>
<meta charset="utf-8">
<title th:text="#{usuario.lista}">Título</title>
</head>
<body>
<section>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0" th:text="#{comun.lista(#{usuario.lista})}">Título</h1>
        
        <div class="d-flex gap-2">
            <a th:replace="~{fragments/botones :: btnLink(
                    #{mensaje.nuevo} + ' ' + #{usuario.title},
                    @{${urlAlta}},
                    'btn-success', 'bi-plus-circle'
                )}">
            </a>
            <a th:replace="~{fragments/botones :: btnVolver(${urlBack})}"></a>
        </div>
    </div>

	<div class="form-group">
	    <form class="d-flex align-items-end gap-3 mb-4" method="get" th:action="@{${urlBuilder.cloneBuilder().removePathExtension()}}">
	        
	        <div style="flex: 2;" class="align-self-end">
	            <label class="form-label fw-semibold">E-mail</label>
	            <input type="text" name="email" class="form-control" th:value="${paramsBusqueda['email']}">
	        </div>
	        <div style="flex: 2;" class="align-self-end">
	            <label class="form-label fw-semibold" th:text="#{comun.nombre('')}">Nombre</label>
	            <input type="text" name="nombre" class="form-control" th:value="${paramsBusqueda['nombre']}">
	        </div>
	        
	        
	        <div style="flex: 1.5;" class="align-self-end">
	            <div th:replace="~{fragments/frmUsuario :: rolSelect(${roles}, 'rol', ${paramsBusqueda['rol']}, false, null)}"></div>
	        </div>
	        
	        <div class="align-self-end">
	            <div th:insert="~{fragments/botones :: btnSubmit(
	                    #{command.buscar},
	                    'btn-primary px-3 text-nowrap',
	                    'bi-search'
	                )}">
	            </div>
	        </div>
	        
	    </form>
	</div>


		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th th:text="#{usuario.email}">default</th>
					<th th:text="#{comun.nombre('')}">default</th>
					<th th:text="#{usuario.role}">default</th>
					<th class="text-center">Estado</th>
		            <th class="text-nowrap" th:text="#{usuario.ultimo.acceso}">Último Acceso</th>
		            <th class="text-nowrap" th:text="#{comun.fIns}">Fecha Alta</th>
		            <th th:text="#{usuario.creado.por}">Creado Por</th>
		            <th th:text="#{comun.acciones}">Acciones</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${paginacion.contenido}">
					<td th:text="${usuario.email}">ID</td>
					<td th:text="${usuario.nombreCompleto}">ID</td>
					<td th:text="${usuario.rol}">ID</td>
		            <td class="text-center">
		                <span th:if="${usuario.activo}" class="badge bg-success" th:text="#{usuario.estado.activo}">Activo</span>
		                <span th:unless="${usuario.activo}" class="badge bg-danger" th:text="#{usuario.estado.inactivo}">Inactivo</span>
		            </td>
		            <td class="text-nowrap" th:text="${usuario.fUltimoAcceso != null ? #temporals.format(usuario.fUltimoAcceso, 'dd/MM/yyyy HH:mm') : '-'}">01/01/2026 12:30</td>
		            <td class="text-nowrap" th:text="${usuario.fAlta != null ? #temporals.format(usuario.fAlta, 'dd/MM/yyyy') : '-'}">01/01/2026 10:00</td>
		            <td th:text="${usuario.usuarioAlta != null ? usuario.usuarioAlta : '-'}">admin@ejemplo.com</td>
					<td><a th:href="@{/admin/usuario/{id}(id=${usuario.id})}" class="btn btn-primary" ><i class="bi bi-pencil-square"></i></a></td>
				</tr>
			</tbody>
		</table>
     	<div th:replace="~{fragments/paginacionComun :: paginador(${paginacion}, '')}"></div>
	</div>
</section>
</body>
</html>
