<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{plantilla::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
<h2 th:text="#{usuario.cambiopassword}">Título</h2>

<h3 th:if="${form.userName != null}" th:text="#{usuario.title} + ': ' + ${form.userName}"></h3>
<div th:replace="~{fragments/mensajesresultado :: mensajes}"></div>
<div th:replace="~{fragments/mensajesresultado :: errorgeneral}"></div>
<form th:action="@{${url}}" th:object="${form}" method="post">
  <div th:replace="~{fragments/frmChangePass :: frmChangePassOld}"></div>
  <datosFormulario th:replace="~{fragments/frmChangePass :: frmChangePass}"></datosFormulario>
  <div th:replace="~{fragments/botones :: btnGroup(#{command.save}, #{command.cancel}, ${urlCancel})}"></div>
</form>
</section>

</body>
</html>