<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{plantilla::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
<h5 class="mt-4" th:text="#{registro.titulo}">Datos del Estudiante</h5>
<div th:replace="~{fragments/mensajesresultado :: mensajes}"></div>
<form th:action="@{${url}}" th:object="${form}" method="post">
	<frmUsuario th:replace="~{fragments/frmUsuario :: frmUsuario}"></frmUsuario>
	<frmUsuario th:replace="~{fragments/frmUsuario :: frmEstudiante}"></frmUsuario>
	<div th:replace="~{fragments/botones :: btnGroup(#{command.save}, #{command.cancel}, @{${urlCancel}})}"></div>
</form>
</section>
</body>
</html>