<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{plantilla::layout(~{::content})}">
<body>
  <section th:fragment="content">
    <div class="container">
    	<div th:replace="~{fragments/cursofragments :: buscaCursosHome}"></div>
       <h3 th:text="#{home.lista.cursos.miscursos}"></h3>
       <th:block th:if="${#lists.size(paginacion.contenido)>0}">
       <div class="album py-6 bg-body-tertiary"> 
		    <div class="container position-relative px-5 my-5">
		        <div id="bloqueMisCursos" class="w-100">
		            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacion}, 'bloqueMisCursos', '/estudiante/cursos/ajax/miscursos')}"></div>
		            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
		                <div class="col flex-grow-0 flex-shrink-0" th:each="cursoestudiante : ${paginacion.contenido}">
		                    <div th:insert="~{fragments/cursofragments :: cursoCard(${cursoestudiante.curso})}"
		                    	th:with="yaInscrito=true, 
						              progresoCurso=${cursoestudiante.progreso}, 
						              estadoCurso=${cursoestudiante.estado}">
              </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
       </th:block>
       <th:block th:unless="${#lists.size(paginacion.contenido)>0}">
       		<span>Aún no se ha inscrito en ninguno de nuestros cursos ¿a qué espera?</span>
	   </th:block>	       
       <h3 th:text="#{home.lista.cursos.interesados}"></h3>
       <div class="album py-6 bg-body-tertiary"> 
		    <div class="container position-relative px-5 my-5">
		        <div id="bloqueCursosDisponibles" class="w-100">
		            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacionCD}, 'bloqueCursosDisponibles', '/estudiante/cursos/ajax/cursosdisponibles')}"></div>
		            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
		                <div class="col flex-grow-0 flex-shrink-0" th:each="curso : ${paginacionCD.contenido}">
		                    <div th:insert="~{fragments/cursofragments :: cursoCard(${curso})}"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
      <h3 th:text="#{home.lista.cursos.finalizados}"></h3>
       <div class="album py-6 bg-body-tertiary"> 
		    <div class="container position-relative px-5 my-5">
		        <div id="bloqueCursosFinalizados" class="w-100">
		            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacionCF}, 'bloqueCursosFinalizados', '/estudiante/cursos/ajax/cursosfinalizados')}"></div>
		            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
		                <div class="col flex-grow-0 flex-shrink-0" th:each="cursoestudiante : ${paginacionCF.contenido}">
		                    <div th:insert="~{fragments/cursofragments :: cursoCard(${cursoestudiante.curso})}"
		                         th:with="yaInscrito=true, 
						              progresoCurso=${cursoestudiante.progreso}, 
						              estadoCurso=${cursoestudiante.estado}"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
       
    </div>
   	<script th:src="@{/webjars/jquery/{version}/jquery.min.js(version=${@webjarsConfig.jquery})}"></script>
	<script th:src="@{/js/navegacionHome.js}"></script>
   
  </section>
</body>
</html>