<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{plantilla::layout(~{::content})}">
<head>
  <title>titulo</title>
</head>
<body>
  <section th:fragment="content">
    <div class="container">
       <h3 th:text="#{home.lista.cursos.miscursos}"></h3>
       
       <h3 th:text="#{home.lista.cursos.interesados}"></h3>
    </div>
   	<script th:src="@{/webjars/jquery/{version}/jquery.min.js(version=${@webjarsConfig.jquery})}"></script>
	<script th:src="@{/js/navegacionHome.js}"></script>
   
  </section>
</body>
</html>