<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{plantilla::layout(~{::content})}">
<head>
  <title>titulo</title>
</head>
<body>
<section th:fragment="content">
    <div class="container">
       <h1 th:text="#{home.profesor.title}"></h1>
    </div>
    <div class="album py-5 bg-body-tertiary"> 
      <div class="container"> 
	    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	       <div class="col" th:insert="~{fragments/opcionesPanel :: opcionCursos}">
	       </div>
	       <div class="col" th:insert="~{fragments/opcionesPanel :: opcionModulos}">
	       </div>
	    </div>    
      </div>
    </div>
</section>
</body>
</html>