<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{plantilla::layout(~{::content})}">
<head>
  <title>titulo</title>
</head>
<body>
  <section th:fragment="content">
    <div class="container">
       Bienvenido a la  página principal del Profesor
    </div>
    <div class="album py-5 bg-body-tertiary"> 
      <div class="container"> 
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        
        <div class="col">
          <div class="card shadow-sm">
             <div class="card-body"><i class="bi bi-collection" style="font-size: 2rem;"></i>
              <a class="navbar-brand" th:href="@{/curso/profesor}">Gestión de cursos</a>
            </div>
          </div>
        </div>
        
    </div>    
    </div>
    </div>
  </section>
  
  
</body>
</html>