<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::section})}"><head>
<meta charset="utf-8">
<title th:text="#{curso.lista}">Título</title>
</head>
<body>
<section>
 <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0" th:text="#{comun.lista(#{curso.lista})}">Título</h1>
        
        <div class="d-flex gap-2">
            <a th:replace="~{fragments/botones :: btnLink(
     			 #{mensaje.nuevo} + ' ' + #{curso.title},
	       		 @{${urlAlta}},
	        	'btn-success', 'bi bi-plus-circle'
                )}">
            </a>
            <a th:replace="~{fragments/botones :: btnVolver(${urlBack})}"></a>
        </div>
    </div>
    <div th:replace="~{fragments/cursofragments :: buscadorCursos}"></div>
	<div th:replace="~{fragments/mensajesresultado :: errorgeneral}"></div>
	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th th:text="#{curso.titulo}">default</th>
				<th th:text="#{comun.descripcion}">default</th>
				<th th:text="#{areatematica.title}">default</th>
				<th th:text="#{curso.nivel}">default</th>
				<th th:text="#{curso.duracion}">default</th>
				<th th:text="#{curso.inscritos}">default</th>
				<th th:text="#{comun.fini}">default</th>
				<th th:text="#{comun.fFin}">default</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="curso : ${paginacion.contenido}">
				<td> 
					<th:block th:if="${curso.uriImagen} != null and ${curso.uriImagen} != ''">
						<img th:src="${curso.uriImagen != null and !#strings.isEmpty(curso.uriImagen)} ? (@{|/images/${#strings.length(curso.uriImagen) > 36 and #strings.contains(curso.uriImagen, '-') ? 'curso/' : ''}${curso.uriImagen}|}) : @{/images/default-curso.png}" class="img-thumbnail" style="width: 40px; height: 40px; object-fit: cover; vertical-align: middle; margin-right: 8px;" alt="Imagen del curso">
	
		            </th:block>
					<span th:text="${curso.titulo}">ID</span>
				</td>
				<td class="text-truncate" style="max-width: 350px;" th:text="${curso.descripcion}" th:title="${curso.descripcion}">ID</td>
				<td th:text="${curso.areaTematicaText}">ID</td>
				<td th:text="${curso.nivel}"></td>
				<td class="text-end"><span th:text="${curso.duracion}"></span> h.</td>
				<td class="text-center" >
				<span th:if="${curso.usuariosRegistrados == 0}" th:text="${curso.usuariosRegistrados}">0</span>
				<span th:unless="${curso.usuariosRegistrados == 0}">
				<a sec:authorize="hasAnyRole('PROFE')" th:replace="~{fragments/botones :: btnLink(
			        ${curso.usuariosRegistrados},
			        @{/profesor/seguimientocurso/{id}(id=${curso.id})},
			        'btn-primary w-100',
			        'bi-card-checklist'
			    )}">
				</a>
				<span sec:authorize="not hasAnyRole('PROFE')" th:text="${curso.usuariosRegistrados}"></span>
				</span>
				</td>
				<td th:text="${#temporals.format(curso.fIni, 'dd/MM/yyyy')}">ID</td>
				<td th:text="${#temporals.format(curso.fFin, 'dd/MM/yyyy')}">ID</td>
				<td><a th:href="@{/{url}/curso/{id}(url=${url},id=${curso.id})}" class="btn btn-primary btn-sm" ><i class="bi bi-pencil-square"></i></a></td>
			</tr>
		</tbody>
	</table>
    <div th:replace="~{fragments/paginacionComun :: paginador(${paginacion}, '')}"></div>
 </div>
</section>
</body>
</html>
