<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{curso.lista}">Título</title>
</head>
<body>
	<section>
		<div class="container py-5" th:object="${curso}">

			<th:block th:replace="~{fragments/cursofragments :: cabeceraCurso(false)}"></th:block>
			<div th:replace="~{fragments/mensajesresultado :: errorgeneral}"></div>
			<hr class="my-5">
			<div class="accordion mb-3" id="mainSectionAccordion">
			    <div class="accordion-item border rounded shadow-sm">
			        <h3 class="accordion-header">
			            <button class="accordion-button bg-light text-dark fw-bold px-3 py-3 fs-3 shadow-none rounded" 
			                    type="button" 
			                    data-bs-toggle="collapse" 
			                    data-bs-target="#contenedorGlobalModulos" 
			                    aria-expanded="true" 
			                    aria-controls="contenedorGlobalModulos"
			                    th:text="#{curso.modulos}">
			                Módulos del curso
			            </button>
			        </h3>
			        <div id="contenedorGlobalModulos" class="accordion-collapse collapse show" data-bs-parent="#mainSectionAccordion">
			            <div class="accordion-body px-0 pt-3">		
							<div th:if="${curso.modulos != null}">
							    <div class="accordion" id="modulosAccordion">
							        <div class="accordion-item mb-2 border-top" th:each="modulo, i : ${curso.modulos}">
							            <h2 class="accordion-header" th:id="'modulo-' + ${i.index}">
							                <button class="accordion-button collapsed" type="button"
							                        data-bs-toggle="collapse"
							                        th:data-bs-target="'#collapse-' + ${i.index}"
							                        aria-expanded="false"
							                        th:aria-controls="'collapse-' + ${i.index}">
							                    <span class="fw-bold" th:text="${modulo.NombreModulo}">Operativa de la plataforma</span> 
							                </button>
							            </h2>
							
							            <div th:id="'collapse-' + ${i.index}"
							                 class="accordion-collapse collapse"
							                 th:aria-labelledby="'modulo-' + ${i.index}"
							                 data-bs-parent="#modulosAccordion">
							
							                <div class="accordion-body">
							
							                    <p class="text-muted" th:text="${modulo.descripcion}">Operativa</p>
							
							                    <div class="mt-3" th:if="${modulo.contenido != null}">
							                        <strong th:text="#{curso.modulo.contenido}">Contenido:</strong>
							                        <pre class="bg-light p-3 rounded mt-2 text-dark border-0 text-break" 
							     						style="white-space: pre-line; font-family: var(--bs-body-font-family); line-height: 1.6; font-size: 0.95rem;"
							     						th:text="${modulo.contenido}"></pre>
							
							                    </div>
							
							                    <div class="d-flex align-items-center gap-2 mt-3">
							                        
							                        <div th:switch="${modulo.tipoModulo?.name()}" class="d-inline">
							                            <span th:case="'ENTREGA_OBLIGATORIA'" class="badge bg-danger">
							                                <i class="bi bi-file-earmark-arrow-up"></i> <span th:text="#{curso.modulo.requiereEntrega}">requiere tarea</span>
							                            </span>
							                            <span th:case="'FINALIZACION_MANUAL'" class="badge bg-primary">
							                                <i class="bi bi-book"></i> <span th:text="#{curso.modulo.finalizacionAutomatica}">Lectura / Finalización Manual</span>
							                            </span>
							                            <span th:case="*" class="badge bg-secondary">Estándar</span>
							                        </div>
							
							                        <span class="badge bg-secondary">
							                            <span th:text="#{curso.modulo.peso}">Peso</span>: <span th:text="${modulo.peso}">50</span>
							                        </span>
							                        
							                    </div>
							                </div>
							            </div>
							        </div>
							    </div>
							</div>
						</div>	
					</div>	
				</div>	
			</div>
			<div th:replace="~{fragments/cursofragments ::contenidosExtra}"></div>
    		<hr class="my-5">
			<div th:insert="~{fragments/cursofragments ::fichaTecnica}"></div>
		</div> <!-- curso -->
		<script th:src="@{/js/enviarvaloracion.js}"></script>
	</section>
</body>
</html>
