<!-- templates/fragments/botones.html -->

<!-- ========================================================= -->
<!--  BOTONES ENLACE (btnLink)                                 -->
<!--  Uso: th:insert="fragments/botones :: btnLink('Texto', '/ruta', 'btn-primary', 'bi-save')" -->
<!-- ========================================================= -->
<div th:fragment="btnLink(texto, url, estilo, icono)">
    <a th:replace="~{::btnLinkTarget(
    texto=${texto},
    url=${url},
    deshabilitado=false,
    target=null,
    estilo=${estilo},
    icono=${icono}
    )}">
    </a>    
</div>

<div th:fragment="btnLinkTarget(texto, url, deshabilitado, target, estilo, icono)">
    <a th:href="${deshabilitado} ? '#' : ${url}"
       th:target="${deshabilitado} ? null : ${target}"
       th:class="'text-nowrap btn ' + ${estilo}"
       th:classappend="${deshabilitado} ? ' disabled' : ''">
        <i th:class="${deshabilitado} ? 'bi bi-lock-fill' : ${icono}" 
           th:if="${deshabilitado} or ${icono != null}"></i>
        <span th:text="${texto}"></span>
    </a>
</div>


<!-- ====================================================================================== -->
<!--  BOTÓN SUBMIT (btnSubmit)                                                              -->
<!--  Uso: th:insert="fragments/botones :: btnSubmit('Guardar', 'btn-success', 'bi-check')" -->
<!-- ====================================================================================== -->
<div th:fragment="btnSubmit(texto, estilo, icono)">
    <button type="submit"
            th:class="'btn ' + ${estilo}">
        <i th:if="${icono != null}" th:class="${icono}"></i>
        <span th:text="${texto}"></span>
    </button>
</div>


<!-- ================================================================== -->
<!--  BOTÓN VOLVER (btnVolver)                                          -->
<!--  Uso: th:insert="fragments/botones :: btnVolver('/admin/usuario')" -->
<!-- ================================================================== -->
<div th:fragment="btnVolver(url)">
    <a th:href="@{${url}}" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left-circle"></i> <span th:text="#{command.volver}"></span>
    </a>
</div>

<button th:fragment="btnReset()" type="reset" class="btn btn-secondary w-100">
<i class="bi bi-arrow-counterclockwise"></i>
	<span th:text="#{command.limpiar}"></span>
</button>
<!-- =============================================================================== -->
<!--  BOTÓN ELIMINAR (btnEliminar)                                                   -->
<!--  Uso: th:insert="fragments/botones :: btnEliminar('/admin/usuario/eliminar/7')" -->
<!-- =============================================================================== -->
<div th:fragment="btnEliminar(url)">
    <a th:href="@{${url}}" class="btn btn-danger">
        <i class="bi bi-trash"></i> Eliminar
    </a>
</div>
<!-- BOTÓN con función JS -->
<th:block th:fragment="btnOnClick(texto, funcionOnclick, estilo, icono)">
 <span style="color:red; display:block;">DEBUG: Fragmento cargado</span>
    <button 
        th:class="'btn ' + ${estilo}"
        th:onclick="${funcionOnclick}()" 
        type="button">
        <i th:if="${icono != null}" th:class="${icono}"></i>
        
        <!-- Texto -->
        <span th:text="${texto}"></span>
    </button>
</th:block>


<!-- ========================================================= -->
<!--  GRUPO DE BOTONES (btnGroup)                              -->
<!--  Uso: th:replace="fragments/botones :: btnGroup('Guardar', '/cancelar')" -->
<!-- ========================================================= -->
<div th:fragment="btnGroup(textoSubmit, textoCancelar, urlCancelar)" class="row g-3 mt-2">
      <!-- <div >-->
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> <span th:text="${textoSubmit}"></span>
            </button>
        </div>

        <div class="col-auto">
            <a th:href="@{${urlCancelar}}" class="btn btn-danger" >
                <i class="bi bi-x-circle"></i> <span th:text="${textoCancelar}"></span>
            </a>
        </div>
    <!-- </div>-->
</div>
<!--  botones de progreso del estudiante para incluir en el "card" y en la "ficha" -->
<div th:fragment="btnProgreso()">
<div class="d-grid gap-2"> <div th:if="${curso.progreso == 100}" class="text-center">
        <button class="btn btn-outline-success w-100 fw-bold">
            <i class="bi bi-trophy-fill me-2"></i> Certificado / Finalizado
        </button>
    </div>

    <div th:if="${curso.progreso < 100}">
        <a th:href="@{/cursos/continuar/{id}(id=${curso.id})}" class="btn btn-primary w-100">
            <i class="bi bi-play-circle me-2"></i> Continuar aprendiendo
        </a>
        
        <p th:if="${curso.tieneTareaPendiente}" class="text-muted small mt-1 mb-0 text-center">
            <i class="bi bi-clock-history"></i> Esperando nota del profesor...
        </p>
    </div>

</div>
</div>

<!-- prototipos a probar..de barras de progreso 
<div th:fragment="btnProgreso2()" class="progress" style="height: 8px;" title="Has completado el 75%">
  <div class="progress-bar bg-success" role="progressbar" 
       th:style="'width: ' + ${curso.avance} + '%'" 
       aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
<small class="text-muted" th:text="${curso.avance + '% completado'}"></small>
-->