<!-- templates/fragments/botones.html -->

<!-- ========================================================= -->
<!--  BOTONES ENLACE (btnLink)                                 -->
<!--  Uso: th:insert="fragments/botones :: btnLink('Texto', '/ruta', 'btn-primary', 'bi-save')" -->
<!-- ========================================================= -->
<div th:fragment="btnLink(texto, url, estilo, icono)">
    <a th:replace="~{::btnLinkTarget(
    texto=${texto},
    url=${url},
    deshabilitado=false,
    target=null,
    estilo=${estilo},
    icono=${icono}
    )}">
    </a>    
</div>

<div th:fragment="btnLinkTarget(texto, url, deshabilitado, target, estilo, icono)">
    <a th:href="${deshabilitado} ? '#' : ${url}"
       th:target="${deshabilitado} ? null : ${target}"
       th:class="'text-nowrap btn ' + ${estilo}"
       th:classappend="${deshabilitado} ? ' disabled' : ''">
        <i th:class="${deshabilitado} ? 'bi bi-lock-fill' : ${icono}" 
           th:if="${deshabilitado} or ${icono != null}"></i>
        <span th:text="${texto}"></span>
    </a>
</div>


<!-- ====================================================================================== -->
<!--  BOTÓN SUBMIT (btnSubmit)                                                              -->
<!--  Uso: th:insert="fragments/botones :: btnSubmit('Guardar', 'btn-success', 'bi-check')" -->
<!-- ====================================================================================== -->
<div th:fragment="btnSubmit(texto, estilo, icono)">
    <button type="submit"
            th:class="'btn ' + ${estilo}">
        <i th:if="${icono != null}" th:class="${icono}"></i>
        <span th:text="${texto}"></span>
    </button>
</div>


<!-- ================================================================== -->
<!--  BOTÓN VOLVER (btnVolver)                                          -->
<!--  Uso: th:insert="fragments/botones :: btnVolver('/admin/usuario')" -->
<!-- ================================================================== -->
<div th:fragment="btnVolver(url)">
    <a th:href="@{${url}}" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left-circle"></i> <span th:text="#{command.volver}"></span>
    </a>
</div>

<button th:fragment="btnReset()" type="reset" class="btn btn-secondary w-100">
<i class="bi bi-arrow-counterclockwise"></i>
	<span th:text="#{command.limpiar}"></span>
</button>
<!-- =============================================================================== -->
<!--  BOTÓN ELIMINAR (btnEliminar)                                                   -->
<!--  Uso: th:insert="fragments/botones :: btnEliminar('/admin/usuario/eliminar/7')" -->
<!-- =============================================================================== -->
<div th:fragment="btnEliminar(url)">
    <a th:href="@{${url}}" class="btn btn-danger">
        <i class="bi bi-trash"></i> Eliminar
    </a>
</div>
<!-- BOTÓN con función JS -->
<th:block th:fragment="btnOnClick(texto, funcionOnclick, estilo, icono)">
 <span style="color:red; display:block;">DEBUG: Fragmento cargado</span>
    <button 
        th:class="'btn ' + ${estilo}"
        th:onclick="${funcionOnclick}()" 
        type="button">
        <i th:if="${icono != null}" th:class="${icono}"></i>
        
        <!-- Texto -->
        <span th:text="${texto}"></span>
    </button>
</th:block>


<!-- ========================================================= -->
<!--  GRUPO DE BOTONES (btnGroup)                              -->
<!--  Uso: th:replace="fragments/botones :: btnGroup('Guardar', '/cancelar')" -->
<!-- ========================================================= -->
<div th:fragment="btnGroup(textoSubmit, textoCancelar, urlCancelar)" class="row g-3 mt-2">
      <!-- <div >-->
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> <span th:text="${textoSubmit}"></span>
            </button>
        </div>

        <div class="col-auto">
            <a th:href="@{${urlCancelar}}" class="btn btn-danger" >
                <i class="bi bi-x-circle"></i> <span th:text="${textoCancelar}"></span>
            </a>
        </div>
    <!-- </div>-->
</div>
