<!-- Fragmento genérico de visualización de cursos con fichas y navegador lateral -->
<div th:fragment="carrusel1(idBloque, titulo, paginacion, urlAjax)" class="mb-5">
    <h2 class="mb-4" th:text="${titulo}">Título por defecto</h2>
    
    <div class="album py-4 bg-body-tertiary rounded shadow-sm"> 
        <div  class="container position-relative px-5 my-2">
            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacion}, ${idBloque}, ${urlAjax})}"></div>
            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
                <div class="col flex-grow-0 flex-shrink-0" th:each="curso : ${paginacion.contenido}">
                    <div th:insert="~{fragments/cursofragments :: cursoCard(${curso})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="carrusel(idBloque, titulo, paginacion, urlAjax)" class="mb-5">
    <h2 class="mb-4" th:text="${titulo}">Título por defecto</h2>
		<div class="album py-6 bg-body-tertiary"> 
		    <div class="container position-relative px-5 my-5">
		        <div th:id="${idBloque}" class="w-100">
		            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacion}, ${idBloque}, ${urlAjax})}"></div>
		            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
		                <div class="col flex-grow-0 flex-shrink-0" th:each="curso : ${paginacion.contenido}">
		                    <div th:insert="~{fragments/cursofragments :: cursoCard(${curso})}"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
</div>