
<div th:fragment="contenidoExtra" class="card mt-3">

   <div class="card-header bg-body-tertiary text-black">
		<a class="d-inline-flex align-items-center text-dark text-decoration-none" 
           data-bs-toggle="collapse" data-bs-target="#datosExtra" role="button" aria-expanded="false">
           <span class="me-2 icono-giro">▼</span>
           <h5 class="mb-0" th:text="#{curso.contenidosExtra}"></h5>
   		</a>
   </div>
   <div class="collapse" id="datosExtra">
      <div class="card-body">
        <table class="table" id="tablaContenidos">
            <thead>
                <tr>
                    <th th:text="#{curso.contenidosExtra}">Descripción</th>
                    <th th:text="#{comun.tipo(#{curso.contenido})}">Tipo</th>
                    <th th:text="#{curso.contenidosExtra}">Recurso (Archivo/URL)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        		<tr th:each="contenido, stat : *{contenidosExtra}">
            		<input type="hidden" th:field="*{contenidosExtra[__${stat.index}__].id}" />
            		<td>
                		<input type="text" th:field="*{contenidosExtra[__${stat.index}__].descripcion}" 
                       class="form-control" required />
            		</td>
            		<td>
                		<select th:field="*{contenidosExtra[__${stat.index}__].tipoContenido}" 
                        	class="form-select" th:onchange="|toggleInputType(this, ${stat.index})|">
                    		<option value="EXTERNO" th:text="#{curso.contenidoextra.externo.url}">Externo (URL)</option>
                    		<option value="PROPIO" th:text="#{curso.contenidoextra.propio.archivo}">Propio (Archivo)</option>
                		</select>
            		</td>
            		<td>
						<div th:switch="${contenido.tipoContenido?.name()}" class="d-inline">
				
				    		<div th:case="PROPIO" class="input-group d-inline-flex" style="vertical-align: middle;">
				        		<label class="btn btn-outline-secondary btn-sm" th:for="'file-' + ${stat.index}">
				            		<i class="bi bi-file-earmark-pdf"></i> <span th:text="#{curso.modulo.adjuntar}">Adjuntar</span>
				        		</label>
				        		<input type="file" name="file" th:id="'file-' + ${stat.index}" class="d-none" accept="application/pdf" />
				        		<input type="text" class="form-control form-control-sm bg-light text-truncate" 
				               		th:value="${contenido.nombreReal != null ? '|📄  ${contenido.nombreReal}| : #{contenido.archivo.vacio}}" readonly />
				                <input type="hidden" th:field="*{contenidosExtra[__${stat.index}__].id}" />
				        		<input type="hidden" th:field="*{contenidosExtra[__${stat.index}__].nombreReal}" />
				    		</div>
						    <input th:case="EXTERNO" type="url" th:field="*{contenidosExtra[__${stat.index}__].uri}" 
				           		class="form-control form-control-sm d-inline-block" placeholder="https://..." style="width: auto;" />
				    		<span th:case="*" class="badge bg-secondary"></span>	            
						</div>
            		</td>
            		<td>
                		<button type="button" class="btn text-danger" 
                       		th:onclick="this.closest('tr').remove()">
                   			<i class="bi bi-x-circle-fill"></i>
                		</button>
            		</td>
        		</tr>
        </table>
        <div class="text-end">
	        <button type="button" class="btn btn-sm btn-outline-success" onclick="addContenidoExtraRow()">
	            <i class="bi bi-plus-lg"></i><span th:text="#{curso.contenidosExtra}">Extra</span>
	        </button>
        </div>
      </div>
    </div>
</div>