<section th:fragment="frmChangePassOld">
    <div class="mb-3" th:if="*{oldPassword}">
        <label class="form-label" th:text="#{mensaje.antigua} + ' ' + #{usuario.password}"></label>
        <input type="password" th:field="*{oldPassword}" class="form-control"/>
        <div class="text-danger" th:errors="*{oldPassword}"></div>
    </div>
</section>
<section th:fragment="frmChangePass">
    <div class="mb-3">
       <label class="form-label" th:text="#{mensaje.nueva} + ' ' + #{usuario.password}"></label>

        <input type="password" th:field="*{newPassword}" class="form-control"/>
        <div class="text-danger" th:errors="*{newPassword}"></div>
    </div>
    <div class="mb-3">
       <label class="form-label" th:text="#{mensaje.confirmar} + ' ' + #{usuario.password}"></label>

	    <input type="password" th:field="*{confirmPassword}" class="form-control"/>
	    <div class="text-danger" th:errors="*{confirmPassword}"></div>
    </div>

</section>    