<nav th:fragment="paginador(paginacion, claseExtra)" th:if="${paginacion.totalPag > 1}">
    <ul class="pagination justify-content-center" th:classappend="${claseExtra}">
        <li class="page-item"
            th:classappend="${paginacion.first} ? ' disabled'">
            <a class="page-link"
               th:href="${paginacion.first} ? null : ${urlBuilder.cloneBuilder().replaceQueryParam('page', 0).replaceQueryParam('lang',#locale.language).toUriString()}">
                <i class="bi bi-skip-start-fill"></i>
            </a>
        </li>

        <li class="page-item"
            th:classappend="${not paginacion.hasPrevious} ? ' disabled'">
            <a class="page-link"
               th:href="${not paginacion.hasPrevious} ? null : ${urlBuilder.cloneBuilder().replaceQueryParam('page', paginacion.pagActual - 2).replaceQueryParam('lang',#locale.language).toUriString()}">
                <i class="bi bi-chevron-left"></i>
            </a>
        </li>

        <li class="page-item"
            th:each="elemento : ${paginacion.paginas}"
            th:classappend="${elemento.numero == paginacion.pagActual} ? ' active'">
            <a class="page-link"
               th:href="${elemento.numero == paginacion.pagActual} ? null : ${urlBuilder.cloneBuilder().replaceQueryParam('page', elemento.numero - 1).replaceQueryParam('lang',#locale.language).toUriString()}"
               th:text="${elemento.numero}">
            </a>
        </li>

        <li class="page-item"
            th:classappend="${not paginacion.hasNext} ? ' disabled'">
            <a class="page-link"
               th:href="${not paginacion.hasNext} ? null : ${urlBuilder.cloneBuilder().replaceQueryParam('page', paginacion.pagActual).replaceQueryParam('lang',#locale.language).toUriString()}">
                <i class="bi bi-chevron-right"></i>
            </a>
        </li>

        <li class="page-item"
            th:classappend="${paginacion.last} ? ' disabled'">
            <a class="page-link"
               th:href="${paginacion.last} ? null : ${urlBuilder.cloneBuilder().replaceQueryParam('page', paginacion.totalPag - 1).replaceQueryParam('lang',#locale.language).toUriString()}">
                <i class="bi bi-skip-end-fill"></i>
            </a>
        </li>

    </ul>
</nav>
<!--  
Se define el bloque a insertar
<div th:id="miTextoCentro">
    <span class="small text-uppercase text-muted">Página actual</span>
    <h5 class="mb-0" th:text="${paginacion.pagActual}">1</h5>
</div>

se llama al fragmento "PaginadorLateral":

<div th:replace="~{layouts/paginador :: navegacionLateral(${miPaginacion}, ~{::#miTextoCentro}, 'my-4')}"></div>
-->
<nav th:fragment="navegacionLateralAJAX(paginacion, targetId, fragmentUrl)" th:if="${paginacion.totalPag > 1}">
    <div>
        <div class="position-absolute top-50 start-0 translate-middle-y" style="z-index: 1050;">
            <button class="btn btn-outline-secondary btn-sm rounded-circle px-2 btn-paginar-ajax"
                    th:if="${paginacion.hasPrevious}"
                    th:data-url="@{${fragmentUrl}(page=${paginacion.pagActual - 2})}"
                    th:data-target="'#' + ${targetId}">
                <i class="bi bi-chevron-left"></i>
            </button>
        </div>

        <div class="position-absolute top-50 end-0 translate-middle-y" style="z-index: 1050;">
            <button class="btn btn-outline-secondary btn-sm rounded-circle px-2 btn-paginar-ajax"
                    th:if="${paginacion.hasNext}"
					th:data-url="@{${fragmentUrl}(page=${paginacion.pagActual})}"
                    th:data-target="'#' + ${targetId}">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
</nav>

