<nav th:if = "${pagina.totalPag > 1}" th:fragment="paginaciontabla">
  <ul>
  	<li>
  		<span th:if="${pagina.first}"> primera</span>
  		<a th:if="${not pagina.first}" th:href="@{${pagina.url}(page=0)}">primera</a>
  	</li>
  	<li>
  		<span th:if="${not pagina.hasPrevious}"> anterior</span>
  		<a th:if="${pagina.hasPrevious}" th:href="@{${pagina.url}(page=${pagina.pagActual-2})}">anterior</a>
  	</li>
  	<li th:each="elemento : ${pagina.paginas}">
  	<span th:if="${elemento.actual}" th:text="${elemento.numero}"></span>
  	<a th:if="${not elemento.actual}"
  	   th:href="@{${pagina.url}(page=${elemento.numero-1})}"
  	   th:text="${elemento.numero}"></a>
  	</li>
	<li><span th:if="${not pagina.hasNext}">siguiente</span>
	<a th:if="${pagina.hasNext}"
	   th:href="@{${pagina.url}(page=${pagina.pagActual})}">siguiente</a>
	</li>
	<li><span th:if="${pagina.last}">última</span>
	  <a th:if="${not pagina.last}"
	  th:href="@{${pagina.url}(page=${pagina.totalPag-1})}">última</a>
	</li>     
  </ul>
</nav>