<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{error.404.title}">Error 404</title>
   <link rel="stylesheet" th:href="@{/webjars/bootstrap/{version}/css/bootstrap.min.css(version=${@webjarsConfig.bootstrap})}" />
   <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/{version}/font/bootstrap-icons.css(version=${@webjarsConfig.bootstrapicons})}"/>

    <style>
        body { background: #f5f7fa; }
        .error-container { max-width: 500px; margin-top: 80px; }
    </style>
</head>

<body>

<div class="container d-flex justify-content-center">
    <div class="error-container text-center">

        <div class="card shadow-sm p-4">
            <h1 class="display-5 text-warning"><i class="bi bi-info-circle text-primary" style="font-size: 4rem;"></i> 404</h1>
            <h4 class="mt-2" th:text="#{error.404.heading}">Página no encontrada</h4>

            <p class="mt-3" th:text="#{error.404.message}">La página que buscas no existe o ha sido movida.</p>

                    <a th:href="@{/}" class="btn btn-primary mt-4">
                        <i class="bi bi-house"></i>
                        <span th:text="#{error.back}">.back Volver al inicio</span>
                    </a>        
         </div>

    </div>
</div>

</body>
</html>
