.card-img-fixed {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.descripcion-limitada {
	height: 65px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.input-small {
    max-width: 250px;
}

/* Para el colapso de div */
/* CERRADO */
[data-bs-toggle="collapse"] .icono-giro {
    transition: transform 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
}

/* ABIERTO (Bootstrap añade la clase 'collapsed' al disparador cuando está cerrado, y se la quita al abrir) */
[data-bs-toggle="collapse"][aria-expanded="true"] .icono-giro {
    transform: rotate(180deg);
}
/* Efecto hover interactivo para las estrellas de votación */
.rating-input {
    display: flex;
    flex-direction: row-reverse; /* Permite iluminar hacia atrás en CSS puro */
    justify-content: flex-end;
}
.rating-input input:checked ~ label i,
.rating-input label:hover ~ label i,
.rating-input label:hover i {
    content: "\F586"; /* Cambia dinámicamente el código de bi-star por bi-star-fill */
    font-family: "bootstrap-icons" !important;
}

.bg-gris-verdoso {
    background-color: #cbd5d0 !important; /* Tono gris-verdoso intermedio */
    border-bottom: 1px solid #b2beb5 !important; /* Borde inferior a juego */
}