<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{plantilla::layout(~{::content})}">
<head>
  <title>titulo</title>
</head>
<body>
  <section th:fragment="content">
    <div class="container">
<!-- 	    <div th:replace="~{fragments/carruselCursos :: carrusel('bloqueMasVisitados', #{home.lista.cursos.mas.vistos}, ${paginacion}, '/cursos/ajax/masvisitados')}"></div>		 -->
<!-- 	    <div th:replace="~{fragments/carruselCursos :: carrusel('bloqueMasValorados', #{home.lista.cursos.mas.valorados}, ${paginacionMV}, '/cursos/ajax/masvalorados')}"></div>		 -->
<!-- 	    <div th:replace="~{fragments/carruselCursos :: carrusel('bloqueMasSubscritos', #{home.lista.cursos.mas.subscritos}, ${paginacionME}, '/cursos/ajax/massubscritos')}"></div>		 -->


    	<h3 th:text="#{home.lista.cursos.mas.vistos}"></h3>
		<div class="album pt-3 pb-2 bg-body-tertiary"> 
		    <div class="container position-relative px-5 mt-2">
		        <div id="bloqueMasVisitados" class="w-99">
		            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacion}, 'bloqueMasVisitados', '/cursos/ajax/masvisitados')}"></div>
		            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
		                <div class="col" th:each="curso : ${paginacion.contenido}">
		                    <div th:insert="~{fragments/curso-card :: cursoCard1(${curso})}" class="w-100"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<h3 th:text="#{home.lista.cursos.mas.valorados}"></h3>
		<div class="album py-6 bg-body-tertiary"> 
		    <div class="container position-relative px-5 my-5">
		        <div id="bloqueMasValorados" class="w-100">
		            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacionMV}, 'bloqueMasValorados', '/cursos/ajax/masvalorados')}"></div>
		            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
		                <div class="col flex-grow-0 flex-shrink-0" th:each="curso : ${paginacionMV.contenido}">
		                    <div th:insert="~{fragments/curso-card :: cursoCard1(${curso})}"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<h1 th:text="#{home.lista.cursos.mas.subscritos}"></h1>
		<div class="album py-6 bg-body-tertiary"> 
		    <div class="container position-relative px-5 my-5">
		        <div id="bloqueMasSubscritos" class="w-100">
		            <div th:replace="~{fragments/paginacionComun :: navegacionLateralAJAX(${paginacionME}, 'bloqueMasSubscritos', '/cursos/ajax/massubscritos')}"></div>
		            <div class="row row-cols-1 row-cols-md-3 g-4" style="width: 100% !important; min-width: 100%;"> 
		                <div class="col flex-grow-0 flex-shrink-0" th:each="curso : ${paginacionME.contenido}">
		                    <div th:insert="~{fragments/curso-card :: cursoCard1(${curso})}"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	<!--     <script th:src="@{/js/enviarvaloracion.js}"></script> -->
	</div>	
		<script th:src="@{/webjars/jquery/{version}/jquery.min.js(version=${@webjarsConfig.jquery})}"></script>
		<script th:src="@{/js/navegacionHome.js}"></script>
  </section>

</body>
</html>