<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::content})}">
	
	
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section th:fragment="content">
<div class="container d-flex justify-content-center">
    <div class="login-container">

        <div class="card shadow-sm">
            <div class="card-body">

                <h3 class="text-center mb-4" th:text="#{login.initSession}">traducir</h3>

                <!-- Mensaje de error -->
                <div th:if="${param.error}" class="alert alert-danger text-center" th:text="#{login.mensaje.error}">
                    traducir
                </div>

                <!-- Mensaje de logout -->
                <div th:if="${param.logout}" class="alert alert-success text-center" th:text="#{login.mensaje.logout}">
                    traducir
                </div>

                <form th:action="@{/login}" method="post">

                    <div class="mb-3">
                        <label class="form-label" th:text="#{usuario.title}">Usuario</label>
                        <input type="text" name="username" class="form-control" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="#{usuario.password}">Contraseña</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Entrar
                    </button>

                </form>

                <div class="text-center mt-3">
                    <a th:href="@{/registro}" class="text-decoration-none" th:text="#{login.register.message}">¿No tienes cuenta? Regístrate</a>
                </div>

            </div>
        </div>

    </div>
</div>
</section>
</body>
</html>