<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{plantilla::layout(~{::content})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section th:fragment="content">
<div class="container d-flex justify-content-center">
    <div class="login-container">

        <div class="card shadow-sm">
            <div class="card-body">

                <h3 class="text-center mb-4" th:text="#{login.initSession}">traducir</h3>

				<div th:if="${param.error}" class="alert alert-danger text-center">
				    
				    <!-- CASO A: Cuenta Desactivada (Usa 'instanceof' de forma segura) -->
				    <span th:if="${session != null and session['SPRING_SECURITY_LAST_EXCEPTION'] instanceof T(org.springframework.security.authentication.DisabledException)}"
				          th:text="#{login.mensaje.desactivado}">
				        Cuenta desactivada
				    </span>
				
				    <!-- CASO B: Credenciales Incorrectas -->
				    <span th:if="${session == null or !(session['SPRING_SECURITY_LAST_EXCEPTION'] instanceof T(org.springframework.security.authentication.DisabledException))}"
				          th:text="#{login.mensaje.error}">
				        Usuario o contraseña incorrectos
				    </span>
				    
				</div>


                <div th:if="${param.logout}" class="alert alert-success text-center" th:text="#{login.mensaje.logout}">
                    traducir
                </div>
				<div th:replace="~{fragments/mensajesresultado :: mensajes}"></div>
                <form th:action="@{/login}" method="post">

                    <div class="mb-3">
                        <label class="form-label" th:text="#{usuario.title}">Usuario</label>
                        <input type="text" name="username" class="form-control" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" th:text="#{usuario.password}">Contraseña</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <div th:replace="~{fragments/botones :: btnSubmit(#{login.enter}, 'btn-primary w-100', 'bi-box-arrow-in-right')}"></div>
                </form>

                <div class="text-center mt-3">
                    <a th:href="@{/registro}" class="text-decoration-none" th:text="#{login.register.message}">¿No tienes cuenta? Regístrate</a>
                </div>

            </div>
        </div>

    </div>
</div>
</section>
</body>
</html>