USE [WAPI_2025]
GO
/****** Object:  StoredProcedure [dbo].[pa_factura_emision]    Script Date: 03/29/2026 21:53:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[pa_factura_emision]    
@id_factura int ,  
@iva int     
as      
/*      
     Emisión de facturas.      
      
     Después de tenerlas "editadas" con una secuencia Temporal '#nnnnn', le cambiamos de estado y       
     las emitimos.    
     Fx.Mod: 30-03-2026 Añadimos fac_serie y fac_number   
     Fx.Mod: 02-12-2014  18.- Modificaciones BD WAPI_V1 
     Fx Mod.: 30-05-2010 Se permite cambiar el porcentaje de iva (cambio de iva 1-07-2010)  
*/      
      
declare @cLetra char(1)      
declare @secuencia varchar(14)      
declare @fac_serie varchar(5)
declare @fac_number int
declare @tipo_factura int      
declare @descripcion varchar(50)      
set @descripcion = 'Factura'      
select @cLetra = substring(id_obra,5,1), @secuencia = secuencia , @tipo_factura = tipo_factura from factura where id_factura = @id_factura      
      
if charindex('#',@secuencia) <> 0      
   begin      
     if @tipo_factura = 3      
        set @descripcion = 'Abono'      
     if @tipo_factura = 2      
        set @descripcion = 'Certificación'      
      
     SET @descripcion = @descripcion + ' de ' + convert(varchar, getDate(), 103)      
     exec sp_dameNuevoNumeroFactura @cLetra, @tipo_factura, @secuencia output , @fac_serie output , @fac_number output    
     update factura set secuencia= @secuencia, fecha_factura = getdate(), ESTADO = '1', iva = case @iva when 0 then iva else @iva end , fac_serie =@fac_serie, fac_number = @fac_number WHERE ID_FACTURA = @id_factura      
   end      
else      
     update factura set ESTADO = '1', iva = case @iva when 0 then iva else @iva end WHERE ID_FACTURA = @id_factura -- Sólo la emito      
      
-- Actualizamos el árbol del presupuesto/Obra.      
UPDATE arbol_presupuesto SET FECHA_CREACION = null        
from arbol_presupuesto ap      
inner join factura fact on fact.id_obra = ap.id_obra      
WHERE fact.id_factura = @id_factura      
